<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:sws="http://www.springframework.org/schema/web-services"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Scans the classpath for annotated components that will be auto-registered as Spring beans.-->
	<context:component-scan base-package="lk.estudents" />

	<!-- Enables @Endpoint and related Spring-WS annotations.-->
	<sws:annotation-driven />

	<!-- static WSDl publishing : un-comment the below line -->
	<!-- <sws:static-wsdl id="PersonDataService" location="/WEB-INF/wsdl/person-data.wsdl"/> -->
	<!-- WSDL URL : http://localhost:8080/person-data-simple/PersonDataService.wsdl -->

	<!-- dynamic WSDl publishing : un-comment the below lines -->

	<sws:dynamic-wsdl id="PersonDataServiceDefinition"
		portTypeName="PersonDataServicePortType" serviceName="PersonDataService"
		createSoap12Binding="true" locationUri="/services/PersonDataService"
		targetNamespace="http://schemas.estudents.lk/xsd/persondata"
		faultSuffix="FaultType">
		<sws:xsd location="/WEB-INF/schemas/person-data.xsd" />
	</sws:dynamic-wsdl>

	<!-- WSDL URL : http://localhost:8080/person-data-simple/${locationUri}/${id}.wsdl -->
	<!-- WSDL URL : http://localhost:8080/person-data-simple/services/PersonDataService/PersonDataServiceDefinition.wsdl -->
</beans>
